/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
  //   $color-pack: false,
  $application-background: rgba(var(--v-theme-surface), 0.15),
  $list-background: rgba(var(--v-theme-surface), 0)
);

html {
  overflow-y: hidden;
}
